html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    height: 100%;
    width: 100%;
    color: theme('colors.colorBlack');
    font-family: theme('fontFamily.sans');
    font-weight: theme('fontWeight.light');
    font-size: 102%;
    line-height: 1.65;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 { 
    color: theme('colors.colorBlack');
    font-weight: theme('fontWeight.bold');
    line-height: 1.25;
    /* margin: 2.85rem 0 1.38rem; */
    margin: 1.55rem 0 1.18rem
}

h1 {
    font-size: theme('fontSize.h1');
    margin-top: 0;
}

h2 {
    font-size: theme('fontSize.h2');
}

h3 {
    font-size: theme('fontSize.h3');
}

h4 {
    font-size: theme('fontSize.h4');
}

h5 {
    font-size: theme('fontSize.h5');
}

img {
    max-width: 100%;
    height: auto;
}

a {
    cursor: pointer;
}

p {
    margin: 0.75rem 0 1.25rem;
}

blockquote, ol, p, table, ul {
    font-size: theme('fontSize.body');
}

